body{
    margin: 0px;
}

#UI_MAIN{ 
    height: 100%;
    width: 100%;
    position: relative;
}

#SphereChessLogo{
    position: absolute;
    left: 28%;
    top: -29%;
    height: 70%;
    width: 70%;
}

#Nav_Panel{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 19%;
    background-color: #ff0000;
}